<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.lokmat.yzlc30tftjl"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="com.android.providers.settings"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="+alps/vnd_YZL_C30_TFT_JL/YZL_C30_TFT_JL:*"
                android:priority="850"
                android:isStatic="true" />
</manifest>
